- const { attributes } = field;

each value, key in attributes
    if value === true
        - attributes[key] = value.toString();
if attributes.type === 'hidden'
    input&attributes(attributes)
    - continue
.field
    label.label(for=attributes.name)
        if attributes.required
            small.has-text-danger * 
        | #{field.label}
        span.field-info
            if field.description
                span.description-icon.icon.has-text-info(data-for=attributes.name)
                    i.fas.fa-info-circle
            - const isRequired = attributes.required;
            // small.required-status.has-text-weight-light(class=`has-text-${isRequired ? 'danger' : 'info'}`)= isRequired ? 'required' : 'optional
    include control.pug
    .error-message
        p.builtin-message.help.is-danger
    if field.description
        .field-description.collapsible.collapse(data-for=attributes.name)
            .notification.is-info
                button.delete(type="button" tabindex="-1")
                //- unescaped
                | !{field.description}