div
    each val in ['text', 'image', 'templateButton', 'templateConfirm', 'templateCarousel', 'templateImageCarousel', 'location']
        - const scheme = fieldScheme[val];
        if typeof scheme === 'undefined'
            - continue

        .box
            .title.is-4 #{val} Message
            form(novalidate)
                each field in scheme
                    - const { attributes } = field;
                    if attributes.type === 'hidden'
                        input&attributes(attributes)
                        - continue
                    .field
                        label.label(for=attributes.name)
                            | #{field.label}
                            if field.description
                                span.description-icon.icon.has-text-info(data-for=attributes.name)
                                    i.fas.fa-info-circle
                        .control
                            if field.type === 'select'
                                select.select&attributes(attributes)
                                    each option in field.options
                                        option(value=option.value)= option.title
                            else if field.type === 'textarea'
                                textarea.textarea&attributes(attributes)
                            else
                                //- define Bulma's form elements class
                                if ['checkbox', 'radio', 'file'].some(t => t === attributes.type)
                                    - attributes.class = attributes.type
                                else
                                    - attributes.class = 'input'

                                input&attributes(attributes)
                        .error-message
                            p.builtin-message.help.is-danger
                        if field.description
                            .field-description.collapsible.collapse(data-for=attributes.name)
                                .notification.is-info
                                    button.delete(type="button")
                                    //- unescaped
                                    | !{field.description}
                        
                .field
                    .control
                        button.button.is-outlined.is-link.submit-button(data-message-type=val)= 'send ' + val
